@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 26 24 44;

    --card: 0 0% 100%;
    --card-foreground: 26 24 44;

    --popover: 0 0% 100%;
    --popover-foreground: 26 24 44;

    --primary: 255 135 245;
    --primary-foreground: 0 0% 100%;

    --secondary: 126 105 171;
    --secondary-foreground: 0 0% 100%;

    --muted: 229 228 255;
    --muted-foreground: 26 24 44;

    --accent: 155 135 245;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 155 135 245;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}